@import "compass/css3";
@import "h5bp";
@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-chromeframe;

*{
  box-sizing: border-box;
}

body{
  position: relative;
  background: url(../img/bg.png) repeat;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@import "header";

.main{
  position: relative;
  width: 100%;
  height: 10000px;
  @include box-shadow(black -8px 0px 87px 0px inset);
}

@import "footer";