@font-face {
    font-family: 'integriaws';
    src: url('../font/integriaws.eot');
    src: url('../font/integriaws.eot?#iefix') format('embedded-opentype'),
         url('../font/integriaws.woff') format('woff'),
         url('../font/integriaws.ttf') format('truetype'),
         url('../font/integriaws.svg#integriaws') format('svg');
    font-weight: normal;
    font-style: normal;

}